.logo {
  /* height: 130px; */
  padding: 15px;
  margin: auto;
}

.header {
  background: inherit;
  height: fit-content;
  display: block;
}

.footer {
  background: #40a9fe;
  padding: 24px 0px;
  /* margin-top: 4em; */
  font-size: 1em;
  color: #00000080;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.footer a {
  color: #000000bf;
}

.footerlogo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  opacity: 0.5;
}