.timelineElement {
  top: -10px;
  padding: 0 15px;
  padding-bottom: 15px;
}


.timelineElement h1 {
  font-size: 1.8em;
  margin-bottom: 0.25em;
}


.timelineElement p {
  font-size: 1.15em;
  color: grey;
}

.timelineElement code {
  background: #ddf0ff;
  color: #125b94;
  padding: 2px 6px;
  border-radius: 3px;
  white-space: nowrap;
}

.timelineContainer {
  /* margin-top: 20%; */
  /* height: fit-content;
  position: fixed;
  left: 0;
  top: -5%;
  right: 0;
  bottom: 0;
  margin: auto; */
}

.catchphraseheader {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 2em 0 3em 0;
  font-size: 1.7em;
  color: #40a9ff;
  font-weight: 300;
}