@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;

  height: 100%;

}



* {
  box-sizing: border-box;
}

a {
  color: #40a9fe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  font-size: 0.85em;
}

img {
  max-width: 100%;
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: inherit;
}


.blue-text {
  color: #3fa9fc;
}

.ant-layout-header {
  background-color: inherit;
  height: fit-content;
}

code {
  overflow-wrap: break-word;
}

.ant-layout,
.ant-layout-header {
  background: inherit;
}

/* .ant-layout-header {
  padding: 0;
} */ 

.ant-card-meta-title {
  font-size: 1.5em;
}

.ant-card-meta-description {
  font-size: 1.2em;
}


.ant-timeline-item-content {
  top: -1.1em;
}